.navbar ul li ul.submenu,
.btn_nav {
  display: none;
}

@media only screen and (min-width: 1024px) {
  main .content:nth-child(1)::before {
    content: "";
    position: absolute;
    border: 20px solid transparent;
    border-left-color: rgb(242, 105, 105);
    right: 0;
    top: 50%;
    z-index: 3;
    transform: translate(100%, -50%);
  }

  main .content:nth-child(2)::before {
    content: "";
    position: absolute;
    border: 20px solid transparent;
    border-left-color: rgb(68, 153, 100);
    right: 0;
    top: 50%;
    z-index: 3;
    transform: translate(100%, -50%);
  }
}

@media only screen and (max-width: 640px) {
  .navbar ul {
    flex-direction: column;
  }
  .navbar ul li {
    text-align: center;
  }
  .navbar ul li ul {
    display: block;
    position: relative;
  }
  .btn_nav {
    display: block;
  }
}
